<form method="post" id="{{idSuffix}}-form" action="{{formAction}}">
    <div class="modal-form-inputs">
        <input type="hidden" id="{{idSuffix}}-id" name="id" value="">
        <p class="modal-form-paragraph">Czy jesteś pewien, że chcesz usunąć <span id="parameter-to-delete"
                class="fw-bold"></span>?</p>
        <p class="modal-form-paragraph">Parametr zostanie usunięty z wszystkich transakcji, do których był przypisany.
        </p>
    </div>
    <button type="submit" class="btn btn-block m-0 btn-danger btn-lg save-button"><i class="bi bi-trash"></i>
        Usuń</button>
</form>