{% extends "authorized.html" %}

{% block title %}CashFlowApp - Ustawienia | Kategorie wydatków{% endblock %}

{% block body %}

<div class="container-fluid main-content ms-auto mf-auto">
    <h1>Ustawienia - Kategorie wydatków</h1>
    <div class="mb-3 col-md-6 col-sm-12 shadow-sm">
        <button class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#category-edit-modal"
            data-bs-action="add">Dodaj nową kategorię wydatków</button>
    </div>
    <h2>Lista kategorii wydatków</h2>
    {% if expenses_categories %}
    {% for expense_category in expenses_categories %}
    <div class="card col-md-6 col-sm-12 shadow-sm mb-1">
        <div class="card-body ps-2 pt-2 pb-2 pe-2 transaction-details d-flex">
            <div class="col-lg-10 col-md-10 col-sm-10 col-7">
                {{expense_category.name}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-5">
                <div class="dropdown text-end">
                    <a class="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                    </a>
                    <ul class="dropdown-menu ellipsis-menu">
                        <li><button class="btn btn-block" href="" data-bs-toggle="modal"
                                data-bs-target="#category-delete-modal" data-bs-id="{{expense_category.id}}" data-bs-name="{{expense_category.name}}">
                                <i class="bi bi-trash text-danger"></i> Delete</button></li>
                        <li><button class="btn btn-block transaction-form-button" data-bs-action="update"
                                data-bs-id="{{expense_category.id}}" data-bs-toggle="modal"
                                data-bs-target="#category-edit-modal" data-bs-name="{{expense_category.name}}"><i
                                    class="bi bi-pencil-square"></i> Edit</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Brak kategorii wydatków</p>
    {% endif %}
    
<!--Category add Modal -->
{{ include("modal_window.html", {
    idSuffix: 'category-edit',
    modalTitle: 'Kategoria wydatku',
    modalAriaLabel: 'Okno edycji kategorii',
    modalContent: '\\Categories_methods\\Forms\\method_category_edit_form.html',
    formLabel: 'Nazwa kategorii',
    formAriaLabel: 'Formularz edycji kategorii wydatków',
    buttonCaption: "Zapisz kategorię" }) }}
    
<!-- Category delete modal -->
{{ include("modal_window.html", {
    idSuffix: 'category-delete',
    modalTitle: 'Usuwanie kategorii wydatku',
    modalAriaLabel: 'Okno usuwania kategorii',
    modalContent: '\\Categories_methods\\Forms\\method_category_delete_form.html',
    formAction: '\\expense-categories\\delete' }) }}
    
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/js/expenseCategoryForm.js"></script>
{% endblock %}