<form method="post" aria-label="Formularz edycji kategorii wydatków" id="category-edit-form" action="">
    <input type="hidden" id="category-edit-id" name="id" value="">
    <div class="px-4 has-validation">
        <label class="form-label" for="category-edit-name">Nazwa kategorii</label>
        <input class="form-control cashflowapp-input" aria-label="Podaj nazwę kategorii" type="text" id="category-edit-name"
            name="name" value="">
    </div>
    <div id="similar-categories-notification" style="display:none" class="mx-4 mt-2 mb-2 p-2 alert alert-warning similar-categories">
        W bazie już istnieją podobne kategorie:
        <ul id="similar-categories-list" class="similar-categories-list mb-1">

        </ul>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="similar-category-checkbox">
            <label class="form-check-label" for="similar-category-checkbox"></label>
              Zaznacz, aby dodać kategorię mimo wszystko
            </label>
          </div> 
    </div> 
    <div class="px-4 mb-4 has-validation">
        <label class="form-label" for="category-edit-budget">Budżet (opcjonalnie)</label>
        <input class="form-control cashflowapp-input" aria-label="Budżet miesięczny dla kategorii" type="number" id="category-edit-budget"
            name="budget" value="">
    </div>    
    <button type="submit" class="btn btn-block m-0 btn-success btn-lg save-button"><i class="bi bi-floppy"></i>
            Zapisz kategorię</button>
</form>