<form method="post" aria-label="Formularz edycji kategorii wydatków" id="category-edit-form" action="">
    <input type="hidden" id="category-edit-id" name="id" value="">
    <div class="px-4 has-validation">
        <label class="form-label" for="category-edit-name">Nazwa kategorii</label>
        <input class="form-control cashflowapp-input" aria-label="Podaj nazwę kategorii" type="text"
            id="category-edit-name" name="name" value="">
    </div>
    {% include "Categories_methods/Forms/similar-items.html" %}
    <div class="px-4 mb-4 has-validation">
        <label class="form-label" for="category-edit-budget">Budżet (opcjonalnie)</label>
        <input class="form-control cashflowapp-input" aria-label="Budżet miesięczny dla kategorii" type="number"
            id="category-edit-budget" name="budget" value="">
    </div>
    <button type="submit" class="btn btn-block m-0 btn-success btn-lg save-button"><i class="bi bi-floppy"></i>
        Zapisz kategorię</button>
</form>