<form method="post" aria-label="Formularz edycji metody płatności" id="method-edit-form" action="">
    <input type="hidden" id="method-edit-id" name="id" value="">
    <div class="px-4 mb-2 has-validation">
        <label class="form-label" for="method-edit-name">Metoda płatności</label>
        <input class="form-control cashflowapp-input" aria-label="Podaj nazwę kategorii" type="text"
            id="method-edit-name" name="name" value="" required autofocus>
    </div>
    {% include "Categories_methods/Forms/similar-items.html" %}
    <button type="submit" class="btn btn-block mt-4 m-0 btn-success btn-lg save-button"><i class="bi bi-floppy"></i>
        Zapisz metodę</button>
</form>