<div id="similar-items-notification" style="display:none"
    class="mx-4 mt-2 mb-4 p-2 alert alert-warning similar-items">
    W bazie już istnieją podobne pozycje:
    <ul id="similar-items-list" class="similar-items-list mb-1">
    </ul>
    <div class="form-check">
        <label class="form-check-label" for="similar-item-checkbox">
            <input class="form-check-input" type="checkbox" id="similar-item-checkbox">
            Zaznacz, aby dodać tę wartość mimo wszystko
        </label>
    </div>
</div>