{% extends "base.html" %}

{% block title %}CashFlowApp - Zarejestruj się {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row align-items-center">

        {% include 'splash_screen_left.html' %}

        <div class="col-lg-6 col-md-6">
            <div class="right-wrapper">
                <form id="signup-form" aria-label="Formularz rejestracji nowego użytkownika" method="post" action="/signup/create">
                    <h3 class="font-weight-normal">Załóż konto</h3>
                    <div class="pb-3">
                        <label for="name" class="visually-hidden">Imię</label>
                        <input type="text" name="name" id="name" aria-label="Imię" class="form-control" placeholder="Imię" value="{{ user.name }}" required
                            autofocus>
                    </div>
                    <div class="pb-3">
                        <label for="email" class="visually-hidden">Adres email (login)</label>
                        <input type="email" name="email" aria-label="Adres email (login)" id="email" class="form-control" value="{{ user.email }}" placeholder="Email (login)" autocomplete="email"
                            required>
                    </div>
                    <div class="pb-3">
                        <label for="password" class="visually-hidden">Password</label>
                        <input type="password" class="form-control hide-show-password" name="password" aria-label="Hasło, przynajmniej 8 znaków. Litery i cyfry." id="password" placeholder="Hasło"
                            required>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Załóż konto</button>
                    <p class="login-text">Masz już konto? <a href="/login">Zaloguj się</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<!-- Hide/Show password -->
<script type="text/javascript" src="/js/hideShowPassword.min.js"></script>
<script type="text/javascript" src="/js/hideShowPasswordToggle.js"></script>
<!-- Signup form validation -->
<script type="text/javascript" src="/js/passwordValidator.js"></script>
<script type="text/javascript" src="/js/signupFormValidation.js"></script>
{% endblock %}