{% extends "base.html" %}

{% block title %}CashFlowApp - Rejestracja nowego użytkownika{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row align-items-center">
            
            {% include 'splash_screen_left.html' %}

            <div class="col-lg-6 col-md-6">
                <div class="right-wrapper">
                    <h1>Rejestracja</h1>
                    <p>Dziękuję za założenie nowego konta.</p>
                    <p>Sprawdź podaną skrzynkę pocztową, aby aktywować konto.</p>
                    <p><a href="/login">Zaloguj się</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}