{% extends "authorized.html" %}

{% block title %}CashFlowApp - Ustawienia | Kategorie przychodów{% endblock %}

{% block body %}

<div class="container-fluid main-content ms-auto mf-auto">
  <h1>Ustawienia - Kategorie przychodów</h1>
  <div class="mb-3 col-md-6 col-sm-12 shadow-sm">
    <button class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#category-edit-modal"
      data-action="add">
      <i class="bi bi-plus-circle"></i> Dodaj nową kategorię przychodów</button>
  </div>
  <h2>Lista kategorii wydatków</h2>
  {% if expenses_categories %}
  {% for income_category in incomes_categories %}
  <div class="card col-md-6 col-sm-12 shadow-sm mb-1">
    <div class="card-body ps-2 pt-2 pb-2 pe-2 transaction-details d-flex">
      <div class="col-lg-10 col-md-10 col-sm-10 col-7">
        {{income_category.name}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-5">
        <div class="dropdown text-end">
          <a class="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </a>
          <ul class="dropdown-menu ellipsis-menu p-0">
            <li class="dropdown-item ellipsis-dropdown-item"><button class="btn btn-block  ellipsis-dropdown-button"
                href="" data-bs-toggle="modal" data-bs-target="#category-delete-modal"
                data-id="{{income_category.id}}" data-name="{{income_category.name}}">
                <i class="bi bi-trash text-danger"></i> Usuń</button></li>
            <li class="dropdown-item ellipsis-dropdown-item"><button class="btn btn-block ellipsis-dropdown-button"
                data-action="update" data-id="{{income_category.id}}" data-bs-toggle="modal"
                data-bs-target="#category-edit-modal" data-name="{{income_category.name}}"><i
                  class="bi bi-pencil-square"></i> Edytuj</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  No incomes categories to show
  {% endif %}

  <!--Income Category add Modal -->
  {{ include("modal_window.html", {
  idSuffix: 'category-edit',
  modalTitle: 'Kategoria przychodu',
  modalAriaLabel: 'Okno edycji kategorii przychodu',
  modalContent: '\\Categories_methods\\Forms\\income_category_edit_form.html' }) }}

  <!--Income Category delete modal -->
  {{ include("modal_window.html", {
  idSuffix: 'category-delete',
  modalTitle: 'Usuwanie kategorii przychodu',
  modalAriaLabel: 'Okno usuwania kategorii przychodu',
  modalContent: '\\Categories_methods\\Forms\\method_category_delete_form.html',
  formAction: '\\income-categories\\delete' }) }}

</div>
{% endblock %}

{% block footer %}
<script type="module" src="/js/transaction-properties-forms/IncomeCategoryForm.js"></script>
{% endblock %}