{% extends "authorized.html" %}

{% block title %}CashFlowApp - Lista transakcji{% endblock %}

{% block body %}

<div class="container-fluid main-content">
  <h1>Lista transakcji</h1>
  <!-- Transactions list -->
  {% if transactions %}
        {% set previous = false %}      
        {% for transaction in transactions %}
          {% if previous == false  %}
            <div class="date-container">
              <p class="transaction-date">{{transaction.date}}</p>
              <hr>
            </div>
            {% set previous = transaction %}
          {% else %}
            {% if transaction.date == previous.date %}
            {% else %}
            <div class="date-container">
              <p class="transaction-date">{{transaction.date}}</p>
              <hr>
            </div>
            {% set previous = transaction %}
            {% endif %}
          {% endif %}
        <div class="card shadow-sm mb-1">
          <div class="card-body ps-2 pt-2 pb-2 pe-2 transaction-details d-flex justify-content-between">
            <div class="col-lg-10 col-md-10 col-sm-10 col-7">
              <div class="row">
              {% if transaction.name is empty %}
                <div class="col-sm-6 col-12 no-wrap-text text-body-secondary" title="Bez kategorii">(Bez kategorii)</div>
              {% else %}
                <div class="col-sm-6 col-12 no-wrap-text transaction-category" title="{{transaction.name}}">{{transaction.name}}</div>
              {% endif %}
              {% if transaction.comment is empty %}
                <div class="col-sm-6 col-12 no-wrap-text text-body-secondary" title="Brak opisu">(Brak opisu)</div>
              {% else %}
                <div class="col-sm-6 col-12 no-wrap-text transaction-comment" title="{{transaction.comment}}">{{transaction.comment}}</div>
              {% endif %}
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-5 justify-content-end">
              <div class="row ps-4 pe-3 h-100">  
                <div class="col-11 amount {{transaction.type}}-amount">{{transaction.amount|number_format(2, ',', ' ')}} zł</div>
                <div class="col-1 ps-0 pe-0 transaction-ellipsis text-end">
                  <div class="dropdown">
                    <a class="" role="button" href="#" aria-label="Menu podręczne transakcji. Usuwanie i edycja." data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </a>
                    <ul class="dropdown-menu ellipsis-menu p-0">
                      <li class="dropdown-item ellipsis-dropdown-item"><button class="btn btn-block ellipsis-dropdown-button" href="/transactions-list/delete" aria-label="Usuń transakcję" data-bs-toggle="modal" data-bs-target="#transaction-delete-modal" data-bs-id="{{transaction.transaction_id}}" data-bs-type="{{transaction.type}}">
                        <i class="bi bi-trash text-danger"></i> Usuń</button></li>
                        <li class="dropdown-item ellipsis-dropdown-item"><button class="btn btn-block ellipsis-dropdown-button" aria-label="Edytuj transakcję" data-bs-action="update" data-bs-id="{{transaction.transaction_id}}" data-bs-toggle="modal" data-bs-target="#{{transaction.type}}-edit-modal" data-bs-amount="{{transaction.amount|number_format(2, ',', ' ')}}" data-bs-category="{{transaction.category_id}}" data-bs-payment="{{transaction.payment_method}}" data-bs-date="{{transaction.date}}" data-bs-comment="{{transaction.comment}}"><i class="bi bi-pencil-square"></i> Edytuj</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
  {% else %}
  Brak transakcji do wyświetlenia.
  {% endif %}
<!-- Transactions list end -->
<!-- Pagination -->
  <nav class="mt-4" aria-label="Nawigacja po stronach transakcji">
    <ul class="pagination justify-content-center" aria-label="">
      {% if page == 1 %}
        <li class="page-item page-link"><i class="bi bi-chevron-bar-left" style="color: #c0c0c0;"></i></li>
      {% else %}
        <li class="page-item"><a class="page-link" aria-label="Pierwsza strona" title="Pierwsza strona" href="/transactions-list/show/1"><i class="bi bi-chevron-bar-left"></i></a></li>
      {% endif %}
      {% if page == 1 %}
        <li class="page-item page-link"><i class="bi bi-chevron-left" style="color: #c0c0c0;"></i></li>
      {% else %}
        <li class="page-item"><a class="page-link" aria-label="Poprzednia strona" title="Poprzednia strona" href="/transactions-list/show/{{previous_page}}"><i class="bi bi-chevron-left"></i></a></li>
      {% endif %}
      <li class="page-item"><span class="page-link">Strona {{page}} z {{last_page}}</span></li>
      {% if page >= last_page %}
        <li class="page-item page-link"><i class="bi bi-chevron-right" style="color: #c0c0c0;" ></i></li>
      {% else %}
        <li class="page-item"><a class="page-link" aria-label="Następna strona" title="Następna strona" href="/transactions-list/show/{{next_page}}"><i class="bi bi-chevron-right"></i></a></li>
      {% endif %}
      {% if page == last_page %}
        <li class="page-item page-link"><i class="bi bi-chevron-bar-right" style="color: #c0c0c0;" ></i></li>
      {% else %}
        <li class="page-item"><a class="page-link" aria-label="Ostatnia strona" title="Ostatnia strona" href="/transactions-list/show/{{last_page}}"><i class="bi bi-chevron-bar-right"></i></a></li>
      {% endif %}
    </ul>
  </nav>
<!-- Pagination end -->
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="/js/transactionsList.js"></script>\
{% endblock %}