{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block footer %}

    <script>

        $(document).ready(function () {

            $("#passwordResetForm").validate({
                rules: {
                        password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                }
            });
        });

        $('#inputPassword').hideShowPassword(true, true);
    </script>

{% endblock %}

{% block body %}

<h1>Password reset</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>

    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}

</ul>
{% endif %}

<form method="post" id="passwordResetForm" action="/password/reset-password">
    <input type="hidden" name="token" value="{{ token }}">
    <div>
        <label for="inputPassword">Password</label>
        <div><input type="password" id="inputPassword" name="password" placeholder="Password"></div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Reset password</button>
</form>
{% endblock %}