{% extends "base.html" %}

{% block title %}CashFlowApp - Zmiana hasła{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row align-items-center">
        
        {% include 'splash_screen_left.html' %}

        <div class="col-lg-6 col-md-6">
            
            <div class="right-wrapper">
                {% if user.errors is not empty %}
                <p>Errors:</p>
                <ul>
                
                    {% for error in user.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                
                </ul>
                {% endif %}
                
                <form method="post" id="passwordChangeForm" action="/password/reset-password">
                    <h1 class="font-weight-normal pb-2">Resetuj hasło</h1>
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="pb-4">
                        <label class="visually-hidden" for="inputPassword">Hasło</label>
                        <div><input class="form-control hide-show-password has-validation" aria-label="Podaj nowe hasło. Przynajmniej 8 znaków. Litery i cyfry." type="password" id="inputPassword" name="password" placeholder="Nowe hasło" autocomplete="new-password"></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Resetuj hasło</button>
                </form>
            </div>
        </div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="/js/hideShowPassword.min.js"></script>
<script type="text/javascript" src="/js/hideShowPasswordToggle.js"></script>
<script type="text/javascript" src="/js/passwordValidator.js"></script>
<script type="text/javascript"src="/js/passwordChangeValidation.js"></script>
{% endblock %}