{% extends "authorized.html" %}

{% block title %}CashFlowApp - Bilans{% endblock %}

{% block body %}
    <section id="content">
        <div class="container-fluid main-content">
            <div class="row">
                <h1 class="col-lg-8 col-md-7">Bilans za okres: {{balance_time_frame}}</h1>
                <div class="col-lg-4 col-md-5 date-selector">
                    <form id="balance-date-selector" class="form-inline" action="/balance/show" method="post">
                        <label for="date-selector">Zakres dat bilansu:</label>
                        <input type="text" name="balance-time-frame" id="date-selector" readonly="readonly" value="{{balance_time_frame}}">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card balance-card">
                        <div class="card-header cashflowapp-primary-bg cashflowapp-primary-bg">
                            Przychody razem
                        </div>
                        <div class="card-body text-center text-success fs-4">
                             {{total_income|number_format(2, ',', ' ')}} zł
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card balance-card">
                        <div class="card-header cashflowapp-primary-bg">
                            Wydatki razem
                        </div>
                        <div class="card-body text-center text-danger fs-4">
                                {{total_expense|number_format(2, ',', ' ')}} zł
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card balance-card">
                        <div class="card-header cashflowapp-primary-bg">
                            Bilans
                        </div>
                        {% if balance == null or balance < 0 %}
                            <div class="card-body text-center text-danger fs-4">
                                {{balance|number_format(2, ',', ' ')}} zł
                            </div>
                            {% else %}
                            <div class="card-body text-center text-success fs-4">
                                {{balance|number_format(2, ',', ' ')}} zł
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card balance-card">
                        <div class="card-header cashflowapp-primary-bg">
                            Przychody kategoriami
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped m-0">
                                <tbody>
                                    {% for income in incomes %}
                                    <tr>
                                        <td class="col-8 ps-3">{% if income.name is empty %}Bez kategorii{% else %}{{income.name}}{% endif %}</td>
                                        <td class="col-4 {% if income.Total_incomes > 0 %}text-success{% endif %}">{{income.Total_incomes|number_format(2, ',', ' ')}} zł</td>
                                    </tr>
                                    {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card balance-card">
                        <div class="card-header cashflowapp-primary-bg">
                            Wydatki kategoriami
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped m-0">
                                <tbody>
                                    {% for expense in expenses  %}
                                    <tr>
                                        <td class="col-8 8ps-3">{% if expense.name is empty %}Bez kategorii{% else %}{{expense.name}}{% endif %}</td>
                                        <td class="col-4 {% if expense.Total_expenses > 0 %}text-danger{% endif %}">{{expense.Total_expenses|number_format(2, ',', ' ')}} zł</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card balance-card">
                        <div class="card-header cashflowapp-primary-bg">
                            Wykres wydatków
                        </div>
                        <div class="card-body text-center">
                            <img src="https://www.tibco.com/sites/tibco/files/media_entity/2022-01/doughnut-chart-example.svg"
                                class="pie-chart" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block footer %}
    {{ parent() }}
    <script src="/js/balance.js"></script>
    {% endblock %}