<nav class="navbar navbar-expand-lg navbar-light main-menu">
    <div class="navbar-brand">
        <img class="navbar-image" src="/images/wallet.png" alt="">
        <span class="">CashFlowApp</span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/expenses/new"><i class="fa-solid fa-wallet"></i> <i
                        class="fa-solid fa-arrow-right"></i> Dodaj wydatek <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/incomes/new"><i class="fa-solid fa-wallet"></i> <i
                        class="fa-solid fa-arrow-left"></i> Dodaj przychód</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/balance"><i class="fa-solid fa-chart-pie"></i> Wyświetl
                    bilans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-gear"></i> Ustawienia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login/destroy"><i class="fa-solid fa-right-from-bracket"></i> Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>