<form method="post" aria-label="{{formAriaLabel}}" id="{{id}}-form" action="">
    <input type="hidden" id="user-id" name="user_id" value="{{current_user.userId}}">
    <input type="hidden" id="{{id}}-id" name="id" value="">
    <div class="form-outline px-4 mb-4 has-validation">
        <label class="form-label" for="category-name">Nazwa kategorii</label>
        <input class="form-control cashflowapp-input" aria-label="Podaj nazwę kategorii" type="text" id="category-name"
            name="name" required autofocus>
    </div>
    <div class="modal-footer p-0">
        <button type="submit" class="btn btn-block m-0 btn-success btn-lg save-button"><i class="bi bi-floppy"></i>
            Zapisz kategorię</button>
    </div>
</form>