<div class="modal fade" id="expensesEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edytuj wydatek</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" id="expenseForm" action="/expenses/update">
            {% include "TransactionForms/expense_form_body.html" %}
            </form>
        </div>
        </div>
    </div>
</div>
<!--Expense edit Modal end -->
<!--Income edit Modal -->
<div class="modal fade" id="incomesEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edytuj przychód</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" id="incomeForm" action="/incomes/update">
            {% include "TransactionForms/income_form_body.html" %}
            </form>
        </div>
        </div>
    </div>
</div>