<form method="post" id="{{idSuffix}}-form" action="" aria-label="{{ariaLabel}}">
    <input type="hidden" id="{{idSuffix}}-id" name="id" value="{{ transaction.transaction_id }}">
    <div class="mb-1 has-validation row px-4 pt-2">
        <div class="col-5">
            <label class="form-label form-label-two-columns" for="{{idSuffix}}-amount">Kwota</label>
            <input class="form-control auto-highlight cashflowapp-input " type="number"
                aria-label="Kwota wydatku w złotówkach." id="{{idSuffix}}-amount" min="0.01" step="0.01" name="amount"
                value="" required autofocus>
        </div>
        <div class="col-7">

            <label class="form-label form-label-two-columns single-date-picker" for="{{idSuffix}}-date">Data
                (RRRR-MM-DD)</label>
            <input class="form-control single-date-picker cashflowapp-input " aria-label="Data wydatku" type="text"
                id="{{idSuffix}}-date" name="date" value="" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
    </div>
    <div class="mb-1 has-validation px-4">
        <label class="form-label" for="{{idSuffix}}-method">Sposób płatności:</label>
        <select class="form-select cashflowapp-input" aria-label="Metoda płatności" id="{{idSuffix}}-method"
            name="payment_method" placeholder="Metoda płatności">
            <option value="" class="text-secondary">Wybierz metodę...</option>
            {% for method in payment_methods %}
            <option value="{{ method.id }}">{{ method.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-1 has-validation px-4">
        <label class="form-label" for="{{idSuffix}}-category">Kategoria:</label>
        <select class="form-select cashflowapp-input " aria-label="Kategoria wydatku" id="{{idSuffix}}-category"
            placeholder="Kategoria" name="category">
            <option value="" class="text-secondary">Wybierz kategorię...</option>
            {% for category in expenses_categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-2 has-validation px-4 pb-4">
        <label class="form-label" for="{{idSuffix}}-comment">Opis wydatku:</label>
        <textarea class="form-control cashflowapp-input" aria-label="Opis wydatku" id="{{idSuffix}}-comment"
            name="comment"></textarea>
    </div>
    <div class="modal-footer p-0">
        <button type="submit" class="btn btn-primary btn-block m-0 btn-lg save-button"><i class="bi bi-floppy"></i>
            Zapisz wydatek</button>
    </div>
</form>