<!--Expense edit modal window  -->
{{ include("modal_window.html", {
    idSuffix: 'expense-edit',
    modalTitle: 'Dane wydatku',
    modalAriaLabel: 'Okno edycji wydatku',
    modalContent: '\\Transaction\\edit_expense_form.html',
    formAriaLabel: 'Formularz edycji wydatku' }) }}
<!--Income edit modal window  -->
{{ include("modal_window.html", {
    idSuffix: 'income-edit',
    modalTitle: 'Dane przychodu',
    modalAriaLabel: 'Okno edycji przychodu',
    modalContent: '\\Transaction\\edit_income_form.html',
    formAriaLabel: 'Formularz edycji przychodu'}) }}
<!-- Transaction delete modal window -->
{{ include("modal_window.html", {
    idSuffix: 'transaction-delete',
    modalTitle: 'Usuwanie transakcji',
    modalAriaLabel: 'Okno potwierdzenia usunięcia transackji',
    modalContent: '\\Transaction\\delete_transaction_form.html'}) }}