{% extends "base.html" %}

{% block title %}CashFlowApp - Zaloguj się{% endblock %}

{% block footer %}
<script type="text/javascript" src="/js/hideShowPasswordToggle.js"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row align-items-center">
            
            {% include 'splash_screen_left.html' %}

            <div class="col-lg-6 col-md-6">
                <div class="right-wrapper">
                    <form action="/login/create" method="post">
                        <h3 class="font-weight-normal">Zaloguj się</h3>
                        <div class="pb-4">
                            <label for="inputEmail" class="sr-only">Email (login)</label>
                            <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email (login)" value="{{ email }}" required autofocus>
                        </div>
                        <div class="pb-2">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
                        </div>
                        <div class="form-check pt-1 pb-2">
                            <input id="inputRememberMe" name="remember_me" class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="inputRememberMe">Pamiętaj mnie</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
                        <p class="pt-2 mb-0"><a href="/password">Nie pamiętam hasła</a></p>
                        <p class="login-text">Nie masz konta? <a href="/signup">Zarejestruj się</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}