{% extends "base.html" %}

{% block title %}CashFlowApp - Zaloguj się{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row align-items-center">
            
            {% include 'splash_screen_left.html' %}

            <div class="col-lg-6 col-md-6">
                <form class="login-register-form">
                    <h3 class="font-weight-normal">Zaloguj się</h3>
                    <label for="inputLogin" class="sr-only">Login</label>
                    <input type="text" id="inputLogin" class="form-control login-register-fields" placeholder="Login" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control login-register-fields" placeholder="Hasło" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
                    <p class="login-text">Nie masz konta? <a href="signup">Zarejestruj się</a></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}