<input type="hidden" id="incomeId" name="id" value="{{transactions.transactions_id}}">
<div class="form-outline  mb-4 has-validation">
    <label class="form-label" for="incomeAmount">Kwota</label>
    <input class="form-control auto-highlight" type="number" id="incomeAmount" min="0.00" step="0.01" name="amount"
    value="{% if income.amount is not empty %}{{income.amount}}{% else %}0,00{% endif %}" required autofocus>
</div>
<div class="form-outline mb-4 has-validation">
    <input class="form-control single-date-picker" type="text" id="incomeDate" name="date"
    value="{% if income.date is not empty %}{{income.date}}{% else %}{{current_date}}{% endif %}"
    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <label class="form-label single-date-picker" for="incomeDate">Data (RRRR-MM-DD)</label>
</div>
<div class="form-outline mb-4 has-validation">
    <select class="form-control" id="incomeCategory" placeholder="Kategoria" name="category">
    <option value=""></option>
    {% for category in incomes_categories %}
    {% if category.id == last_income_category %}
    <option value="{{ category.id }}" selected>{{ category.name }}</option>
    {% else %}
    <option value="{{ category.id }}">{{ category.name }}</option>
    {% endif %}
    {% endfor %}
    </select>
    <label class="form-label" for="incomeCategory">Kategoria:</label>
</div>
<div class="form-outline mb-2 has-validation">
    <textarea class="form-control" id="incomeComment" name="comment"></textarea>
    <label class="form-label" for="incomeComment">Komentarz:</label>
</div>
<div class="modal-footer">
    <a role="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</a>
    <button type="submit" class="btn btn-primary">Zapisz przychód</button>
</div>
