<form method="post" id="{{idSuffix}}-form" action="\account\delete">
    <div class="modal-form-inputs">
        <p class="modal-form-paragraph text-danger">Usunięcie konta spowoduje bezpowrotne usunięcie wszystkich danych?</p>
        <p class="modal-form-paragraph">Aby usunąć swoje konto, podaj swoje hasło poniżej:</p>
        <label class="form-label" for="password">Hasło</label>
        <input class="form-control hide-show-password cashflow-input col-auto" type="password" id="password" name="password"
        required>
    </div>
    <button type="submit" class="btn btn-danger btn-block btn-save btn-lg"><i class="bi bi-trash"></i> Usuń</button>
</form>