{% extends "authorized.html" %}

{% block title %}CashFlowApp - Ustawienia | Konto użytkownika{% endblock %}

{% block body %}

<div class="container-fluid main-content ms-auto mf-auto">
    <div class="row site-title">
        <h1>Ustawienia - Konto użytkownika</h1>
    </div>
    <div class="col-md-6 col-sm-12">
        <form class="row pb-3" id="userNameChangeForm" method="post" action="/account/user-name-update">
            <div class="col-md-9 col-sm-5">
                <input class="form-control" type="text" name="userName" id="name" value="{{current_user.name}}">
            </div>
            <div class="col-md-3 col-sm-5">
                <button class="btn btn-primary btn-sm btn-block">Aktualizuj</button>
            </div>
        </form>
        <form class="row pb-3" id="userEmailChangeForm" method="post" action="/account/user-email-update">
            <div class="col-md-9 col-sm-5">
                <input type="hidden" id="userId" value="{{current_user.userId}}">
                <input class="form-control" type="text" name="email" id="email" value="{{current_user.email}}">
            </div>
            <div class="col-md-3 col-sm-5">
                <button class="btn btn-primary btn-sm btn-block">Aktualizuj</button>
            </div>
        </form>
        <form class="row pb-3" id="passwordChangeForm" method="post" action="/account/user-password-update">
            <div class="col-md-9 col-sm-5">
                <input class="form-control hide-show-password col-10" type="password" id="inputPassword" name="password" value="">
            </div>
            <div class="col-md-3 col-sm-5">
                <button class="btn btn-primary btn-sm btn-block">Aktualizuj</button>
            </div>
        </form>
        <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#account-delete-modal">Usuń konto wraz z danymi</a>
    </div> 
</div>

<!-- Modal -->
{{ include("modal_window.html", {
    idSuffix: 'account-delete',
    modalTitle: 'Usuwanie konta użytkownika',
    modalAriaLabel: 'Okno potwierdzenia usunięcia konta użytkownika',
    modalContent: '\\Account\\delete-account-form.html',
    formAriaLabel: 'Formularz edycji wydatku' }) }}
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/js/userAccount.js"></script>
<script type="text/javascript" src="/js/hideShowPassword.min.js"></script>
<script type="text/javascript" src="/js/hideShowPasswordToggle.js"></script>
<script type="text/javascript" src="/js/passwordValidator.js"></script>
<script type="text/javascript" src="/js/passwordChangeValidation.js"></script>
{% endblock %}
