<div class="modal fade" id="{{idSuffix}}-modal" aria-label="{{modalAriaLabel}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">{{modalTitle}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Zamknij okno dialogowe"></button>
            </div>
            <div class="modal-body p-0">
                {{include (modalContent)}}
            </div>
        </div>
    </div>
</div>