<nav class="sticky-top navbar navbar-expand-lg navbar-light main-menu">
    <div class="navbar-brand">
        <img class="navbar-image" src="/images/wallet.png" alt="">
        <span class="">CashFlowApp</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="bi bi-house"></i> Lista transakcji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link transaction-form-button" href="#" data-bs-action="add" data-bs-toggle="modal" data-bs-target="#expensesEditModal">
                    <i class="bi bi-wallet"></i><i class="bi bi-arrow-right"></i> Dodaj wydatek</a>
            </li>
            <li class="nav-item">
                <a class="nav-link transaction-form-button"href="#" data-bs-action="add" data-bs-toggle="modal" data-bs-target="#incomesEditModal">
                    <i class="bi bi-wallet"></i><i class="bi bi-arrow-left"></i> Dodaj przychód</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/balance"><i class="bi bi-pie-chart"></i> Wyświetl
                    bilans</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" href="#"><i class="bi bi-gear"></i> Ustawienia</a>
                <ul class="dropdown-menu main-menu-dropdown main-menu ps-3 pe-3 pt-1 pb-1">
                    <li><a class="dropdown-item main-menu-dropdown-item" href="#">Konto użytkownika</a></li>
                    <li><a class="dropdown-item main-menu-dropdown-item" href="/settings/expense-categories">Kategorie wydatków</a></li>
                    <li><a class="dropdown-item main-menu-dropdown-item" href="#">Kategorie przychodów</a></li>
                    <li><a class="dropdown-item main-menu-dropdown-item" href="#">Metody płatności</a></li>
                  </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login/destroy"><i class="bi bi-box-arrow-right"></i> Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>