{% set controller = request_uri|split('/') %}
<nav class="sticky-top navbar navbar-expand-lg navbar-light main-menu cashflowapp-primary-bg">
    <div class="navbar-brand">
        <img class="navbar-image" src="/images/wallet.png" alt="">
        <span class="">CashFlowApp</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if controller.1 == '' or controller.1 == 'transactions-list' %}active{%endif %}" href="/"><i class="bi bi-list-columns"></i> Lista transakcji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link transaction-form-button" id="add-expense-button" href="#" data-action="add" data-bs-toggle="modal" data-bs-target="#expense-edit-modal">
                    <i class="bi bi-wallet"></i><i class="bi bi-arrow-right"></i> Dodaj wydatek</a>
            </li>
            <li class="nav-item">
                <a id="add-income-button" class="nav-link transaction-form-button" href="#" data-action="add" data-bs-toggle="modal" data-bs-target="#income-edit-modal">
                    <i class="bi bi-wallet"></i><i class="bi bi-arrow-left"></i> Dodaj przychód</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request_uri == '/balance' %}active{%endif %}" href="/balance"><i class="bi bi-pie-chart"></i> Wyświetl
                    bilans</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if request_uri == '/account' or request_uri == '/expense-categories' or request_uri == '/income-categories' or request_uri == '/payment-methods'  %}active{%endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" href="#"><i class="bi bi-gear"></i> Ustawienia</a>
                <ul class="dropdown-menu main-menu-dropdown main-menu ps-3 pe-3 pt-1 pb-1 cashflowapp-primary-bg">
                    <li><a class="dropdown-item main-menu-dropdown-item {% if request_uri == '/account' %}active{%endif %}" href="/account"><i class="bi bi-person"></i> Konto użytkownika</a></li>
                    <li><a class="dropdown-item main-menu-dropdown-item {% if request_uri == '/expense-categories' %}active{%endif %}" href="/expense-categories"><i class="bi bi-bookmark-dash"></i> Kategorie wydatków</a></li>
                    <li><a class="dropdown-item main-menu-dropdown-item {% if request_uri == '/income-categories' %}active{%endif %}" href="/income-categories"><i class="bi bi-bookmark-plus"></i> Kategorie przychodów</a></li>
                    <li><a class="dropdown-item main-menu-dropdown-item {% if request_uri == '/payment-methods' %}active{%endif %}" href="/payment-methods"><i class="bi bi-credit-card"></i> Metody płatności</a></li>
                  </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login/destroy"><i class="bi bi-box-arrow-right"></i> Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>