<div class="col-lg-6 col-md-6 left-column">
    
    <div class="row">
        <div class="brand">
            <img class="brand-image" src="/images/wallet.png" alt="">
            <h1 class="brand-name">CashFlowApp</h1>
        </div>
        <h2 class="tagline">Twoje finanse w jednym miejscu</h2>
    </div>

    <div class="row features">
        
        <div class="col-lg-4 col-md-4 feature-column">
            <img class="feature-image" src="/images/list.png" alt="">
            <p class="feature-text">Zapisuj swoje przychody i wydatki</p>
        </div>
        
        <div class="col-lg-4 col-md-4 feature-column">
            <img class="feature-image" src="/images/pie-chart.png" alt="">
            <p class="feature-text">Analizuj wydatki za pomocą tabel i wykresów</p>
        </div>
        
        <div class="col-lg-4 col-md-4 feature-column">
            <img class="feature-image" src="/images/salary.png" alt="">
            <p class="feature-text">Wypracuj pozytywne nawyki finansowe</p>
        </div>
        
    </div>

</div>