{% extends "base.html" %}

{% block title %}Edit user's profile{% endblock %}

{% block footer %}

<script>
       
    $(document).ready(function () {
        var userId = '{{ user.userId }}';
        $("#signupForm").validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/account/validate-email',
                        data: {
                            ignore_id: function() {
                                return userId;
                            }
                        }
                    }
                },
                password: {
                    required: false,
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'email already taken'
                }
            }
        });
    });

    $('#inputPassword').hideShowPassword(true, true);
</script>

{% endblock %}

{% block body %}

<h1>Edit user's profile</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>

    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}

</ul>
{% endif %}


<form method="post" action="/profile/update" id="signupForm">
    <div class="form-group">
        <label for="inputName" class="form-label">Name</label>
        <input class="form-control" type="text" id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="form-label">Email address (login)</label>
        <input class="form-control" type="email" id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required
            type="email">
    </div>
    <div class="form-group">
        <label for="inputPassword" class="form-label">Password</label>
        <div>
            <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Password">
            <span>Leave blank to keep current password</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Udpate profile</button><a href="/profile/show">Cancel</a>
</form>


{% endblock %}