{% extends "base.html" %}

{% block title %}CashFlowApp - Dodaj przychód{% endblock %}

{% block footer %}
<script type="text/javascript" src="/js/addIncomeFormValidation.js"></script>
{% endblock %}

{% block body %}

{% include "/Home/navbar.html" %}
<div class="container-fluid main-content pt-4 ps-4">
  <div class="card add-expense-income-card">
    <div class="card-header">
      Podaj dane przychodu
    </div>
    <div class="card-body">
      <form method="post" id="incomeForm" action="/incomes/add">
        <input type="hidden" name="user_id" value="{{ current_user.userId }}">


        <div class="form-outline  mb-4 has-validation">
          <label class="form-label" for="amount" id="inputGroup-sizing-default">Kwota</label>
          <input class="form-control" type="number" id="amount" name="amount" step="0.01" value="{% if income.amount is not empty %}{{income.amount}}{% else %}0,00{% endif %}" min="0.00">
        </div>


        <div class="form-outline  mb-4 has-validation">
          <label class="form-label" for="incomeDate">Data (RRRR-MM-DD)</label>
          <input class="form-control" type="text" id="incomeDate" name="date" value="{% if expense.date is not empty %}{{expense.date}}{% else %}{{current_date}}{% endif %}">
        </div>


        <div class="form-outline  mb-4 has-validation">
          <label class="form-label" for="incomeCategory">Kategoria przychodu:</label>
          <select class="form-select" id="incomeCategory" name="category">
            <option value=""></option>
            {% for category in incomes_categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>

        
        <div class="form-outline  mb-4 has-validation">
            <label class="form-label" for="incomeComment">Komentarz:</label>
          <textarea class="form-control" id="incomeComment" name="comment"></textarea>
        </div>

        <div class="row buttons">
          <div class="col-6">
            <button class="btn btn-secondary btn-block btn-lg" type="button">Anuluj</button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary btn-block btn-lg" type="submit">Dodaj</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}